# Python caches
__pycache__/
*.py[cod]

# Jupyter Notebooks checkpoints
.ipynb_checkpoints

# Environment variables
.env

# Raw data (too large for GitHub)
data/raw/

# OS specific files
.DS_Store
Thumbs.db

# Dev tools
.claude/
FICHE_ANTI_QUESTIONS.md
